a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  .header-content {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 80px;
    background-color: #FAF7F2;
    font-size: 2rem;
    text-align: center;
    gap: 1.5rem;
    background-image: url(Assets/iteration-1-assets/home-banner.png);
  }
  
  .header2 {
    font-size: 3.2em;
    line-height: 1.1;
    font-family: "Quattrocento";
    color: white
  }
  
  .header1 {
    font-size: 2em;
    font-family: "Barlow";
    color: white
  }
  
  .button1 {
    background-color: #FDC913;
    color: black;
    border-radius: 100px;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  button {
    display: block;
    margin: auto;
  }